{% extends "_base/attribute.html.jinja" %}

{% block contents scoped %}
  {% if attribute.extra.griffe_pydantic.validation_alias or attribute.extra.griffe_pydantic.serialization_alias %}
    <ul>
      {% if attribute.extra.griffe_pydantic.validation_alias %}
        <li>Input / Validation alias: <code>{{ attribute.extra.griffe_pydantic.validation_alias }}</code></li>
      {% endif %}
      {% if attribute.extra.griffe_pydantic.serialization_alias %}
        <li>Output / Serialization alias: <code>{{ attribute.extra.griffe_pydantic.serialization_alias }}</code></li>
      {% endif %}
    </ul>
  {% endif %}
  {{ super() }}
{% endblock contents %}
