{% extends "_base/attribute.html.jinja" %}

{% block heading %}
  {#- Heading block.

  This block renders the heading for the attribute.
  -#}
  {% if config.show_symbol_type_heading %}<code class="doc-symbol doc-symbol-heading doc-symbol-attribute"></code>{% endif %}
  {% if config.heading and root %}
    {{ config.heading }}
  {% elif config.separate_signature %}
    <span class="doc doc-object-name doc-attribute-name">{{ attribute_name }} ({{ attribute.extra.griffe_pydantic.alias }})</span>
  {% else %}
    {%+ filter highlight(language="python", inline=True) %}
      {{ attribute_name }}{% if attribute.annotation and config.show_signature_annotations %}: {{ attribute.annotation }}{% endif %}
      {% if config.show_attribute_values and attribute.value %} = {{ attribute.value }}{% endif %}
    {% endfilter %}
  {% endif %}
{% endblock heading %}
